<div>
    <div style="width: 1000px;margin-top: 22px;">
        11.同工同酬原则适用于用人单位发放的所有工资和福利，主要包括以下哪些？（ ）
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no72" value="A" required="true">A .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            计时工资或者计件工资
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no72" value="B" required="true">B .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            奖金、津贴
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no72" value="C" required="true">C .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            住房补贴或住宿补助
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no72" value="D" required="true">D .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            养老金
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no72" value="E" required="true">E .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            年假和假期津贴
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no72" value="F" required="true">F .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            午餐券、折扣旅行服务或其他可以折成现金价值的实物福利
        </div>
    </div>
</div>
<div>
    <div style="width: 1000px;margin-top: 22px;">
        12.用人单位采取哪些措施有利于帮助职工平衡工作和家庭？（ ）
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no73" value="A" required="true">A .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            调查男女职工在平衡工作与家庭方面的需求
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no73" value="B" required="true">B .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            将帮助职工平衡工作和家庭责任的措施纳入集体合同
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no73" value="C" required="true">C .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            提供灵活安排工作时间或减少工作时间的选择，包括提供远程办公的选择
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no73" value="D" required="true">D .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            提供支持或培训，以帮助女职工休完产假返回工作岗位并胜任工作
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no73" value="E" required="true">E .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            为女职工提供产假后逐步恢复工作的适应时间
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no73" value="F" required="true">F .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            提供职工子女托幼服务和托管服务（托儿所、幼儿园、寒暑假托管班等）
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no73" value="E" required="true">E .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            允许职工紧急休假，以承担紧急的照顾责任
        </div>
    </div>
</div>
<div>
    <div style="width: 1000px;margin-top: 22px;">
        13.性骚扰三个关键要素包括（ ）。
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no74" value="A" required="true">A .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            不受欢迎的
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no74" value="B" required="true">B .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            与性有关的
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no74" value="C" required="true">C .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            只发生一次
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no74" value="D" required="true">D .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            理性的人会预期到这种行为可能使人感到被冒犯、侮辱或威胁
        </div>
    </div>
</div>
<div>
    <div style="width: 1000px;margin-top: 22px;">
        14.以下哪些行为可能构成工作场所性骚扰？（ ）
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no75" value="A" required="true">A .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            反复凝视身体敏感部位
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no75" value="B" required="true">B .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            不受欢迎的身体接触，如触摸、搂抱、抚弄、掐捏等
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no75" value="C" required="true">C .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            强迫性质的邀请，死缠烂打型的示爱，在被拒绝之后仍持续地邀请共同进餐或约会，使对方感受到一种“隐形威胁”
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no75" value="D" required="true">D .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            编制、转发、展示具有性含义的“黄段子”
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no75" value="C" required="true">C .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            展示、摆放色情图片、海报等
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no75" value="D" required="true">D .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            性暗示或告知、传播性经验
        </div>
    </div>
</div>
<div>
    <div style="width: 1000px;margin-top: 22px;">
        15.以下哪些人可能成为工作场所性骚扰的实施者？（ ）
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no76" value="A" required="true">A .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            上级
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no76" value="B" required="true">B .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            同事
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no76" value="C" required="true">C .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            客户、顾客
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no76" value="D" required="true">D .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            合作伙伴
        </div>
    </div>
</div>
<div>
    <div style="width: 1000px;margin-top: 22px;">
        16.用人单位应把预防和制止工作场所性骚扰纳入哪些制度和体系？（ ）
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no77" value="A" required="true">A .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            宣传教育培训制度
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no77" value="B" required="true">B .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            招聘和就业保障制度
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no77" value="C" required="true">C .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            培训、晋升和奖励制度
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no77" value="D" required="true">D .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            合作伙伴
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no77" value="E" required="true">E .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            职业安全健康管理制度
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no77" value="F" required="true">F .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            集体协商制度
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no77" value="G" required="true">G .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            合同制度
        </div>
    </div>
</div>
<div>
    <div style="width: 1000px;margin-top: 22px;">
        16.用人单位应把预防和制止工作场所性骚扰纳入哪些制度和体系？（ ）
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no77" value="A" required="true">A .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            宣传教育培训制度
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no77" value="B" required="true">B .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            招聘和就业保障制度
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no77" value="C" required="true">C .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            培训、晋升和奖励制度
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no77" value="D" required="true">D .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            合作伙伴
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no77" value="E" required="true">E .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            职业安全健康管理制度
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no77" value="F" required="true">F .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            集体协商制度
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no77" value="G" required="true">G .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            合同制度
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no77" value="H" required="true">H .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            劳动争议调查处理制度
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no77" value="I" required="true">I .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            企业社会责任管理体系
        </div>
    </div>
</div>
<div>
    <div style="width: 1000px;margin-top: 22px;">
        17.企业制定消除工作场所性骚扰规章制度至少应包括哪些内容？（ ）
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no78" value="A" required="true">A .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            明确表明对性骚扰的态度
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no78" value="B" required="true">B .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            明确告知什么是性骚扰
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no78" value="C" required="true">C .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            明确什么是工作场所性骚扰
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no78" value="D" required="true">D .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            详细说明对性骚扰行为的制裁方式
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no78" value="E" required="true">E .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            设立防治工作场所性骚扰的机构，明确投诉程序
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no78" value="F" required="true">F .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            明确保护措施，禁止打击报复
        </div>
    </div>
</div>
<div>
    <div style="width: 1000px;margin-top: 22px;">
        18.职工因拒绝性骚扰致使发生下列哪些情形的，用人单位应及时采取补救措施（ ）。
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no79" value="A" required="true">A .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            被剥夺晋升机会的
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no79" value="B" required="true">B .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            被取消参加培训、参评先进等享受奖励或者福利资格的
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no79" value="C" required="true">C .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            被调换岗位或者工作地点、减薪、降级或者撤职的
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no79" value="D" required="true">D .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            被扣发奖金、提成或者被罚款的
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no79" value="E" required="true">E .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            被开除、辞退或者被迫辞职的
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no79" value="F" required="true">F .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            因报复而影响职位和待遇的其他情形
        </div>
    </div>
</div>
<div>
    <div style="width: 1000px;margin-top: 22px;">
        19.用人单位可以通过哪些方式鼓励性骚扰知情者采取行动？（ ）
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no80" value="A" required="true">A .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            制定针对性骚扰知情者行动的规章制度和指南
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no80" value="B" required="true">B .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            提供关于知情者行动的教育和培训
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no80" value="C" required="true">C .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            创造鼓励举报性骚扰的工作环境
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no80" value="D" required="true">D .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            提供多种沟通渠道举报性骚扰
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no80" value="E" required="true">E .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            及时回应性骚扰举报
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no80" value="F" required="true">F .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            为负责处理性骚扰举报的人提供培训
        </div>
    </div>
</div>
<div>
    <div style="width: 1000px;margin-top: 22px;">
        20.工会组织应为工作场所性骚扰受害者维权提供哪些支持？（ ）
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no81" value="A" required="true">A .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            畅通投诉渠道，为职工提供法律咨询服务
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no81" value="B" required="true">B .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            协调和参与性骚扰投诉的调查处理工作
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no81" value="C" required="true">C .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            提供法律援助，协助取证，必要时督促用人单位成立专案调查组
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no81" value="D" required="true">D .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            支持、协助受害人用法律手段维权
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no81" value="E" required="true">E .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            在必要时请心理咨询师为受害人做心理疏导
        </div>
    </div>
</div>
<div>
    <div style="width: 1000px;margin-top: 22px;">
        21.职工如何参与预防和制止工作场所性骚扰？（ ）
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no82" value="A" required="true">A .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            参加学习和培训
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no82" value="B" required="true">B .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            了解自身权益
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no82" value="C" required="true">C .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            承诺不实施性骚扰行为
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no82" value="D" required="true">D .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            参与、监督防治性骚扰机制的实施
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no82" value="E" required="true">E .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            积极与性骚扰行为作斗争
        </div>
    </div>
</div>
<div>
    <div style="width: 1000px;margin-top: 22px;">
        22.以下哪些可以作为工作场所性骚扰的证据？（ ）
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no83" value="A" required="true">A .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            电子邮件
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no83" value="B" required="true">B .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            便条
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no83" value="C" required="true">C .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            短信或微信信息
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no83" value="D" required="true">D .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            录音
        </div>
    </div>
    <div class="form-group" style="margin-top: 15px;">
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no83" value="E" required="true">E .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            视频
        </div>
        <label class="col-sm-2 control-label" style="margin-left: -83px">
            <input type="checkbox" name="no83" value="F" required="true">F .
        </label>
        <div class="col-sm-3" style="margin-top: 8px;">
            照片
        </div>
    </div>
</div>